---
// pages/news/[id].astro
import Base from '@/templates/Base.astro'
export const prerender = false
export async function getStaticPaths() {
  const token = import.meta.env.API_TOKEN
  // 1. 调用 API 获取数据
  // 获取文章列表
  const res = await fetch(
    `https://www.dgbq.net/adminapi/cms/cms?pid=0&title=&page=1&limit=20`,
    {
      method: 'GET', // 或 POST、PUT 等
      headers: {
        'Authori-zation': `Bearer ${token}`, // Bearer Token 格式
        'Content-Type': 'application/json', // 根据需求设置
      },
    }
  ).then((res) => res.json())
  const posts = res.data.list

  // 2. 生成动态路由参数
  return Promise.all(
    posts.map(async (post) => {
      // 获取文章详情
      const res = await fetch(
        `https://www.dgbq.net/api/article/details/${post.id}`,
        {
          method: 'GET', // 或 POST、PUT 等
          headers: {
            Authorization: `Bearer ${token}`, // Bearer Token 格式
            'Content-Type': 'application/json', // 根据需求设置
          },
        }
      ).then((res) => res.json())
      const newsData = res.data
      return {
        params: { id: post.id.toString() }, // 确保 id 是字符串
        props: { newsData },
      }
    })
  )
}

// 3. 接收 props 数据
const { newsData } = Astro.props
---

<Base head={{ title: newsData.title, description: '' }}>
  <div class="news">
    <h2 class="title">{newsData.title}</h2>
    <div class="desc">
      <div class="catename">{newsData.catename}</div>
      <div class="add_time">发布时间：{newsData.add_time}</div>
      <div class="visit">浏览量：{newsData.visit}</div>
    </div>
    <div class="content" set:html={newsData.content} />
  </div>
</Base>
<style>
  .news {
    margin: 0 10vw;
  }
  .title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }
  .desc {
    display: flex;
    gap: 20px;
    font-size: 14px;
    color: #bbb;
  }
  .catename {
    flex: 1;
  }
  .content {
    margin-top: 20px;
  }
</style>
