---
import Base from '@/templates/Base.astro'
const token = import.meta.env.API_TOKEN
const res = await fetch(
  `https://www.dgbq.net/adminapi/cms/cms?pid=0&title=&page=1&limit=20`,
  {
    method: 'GET', // 或 POST、PUT 等
    headers: {
      'Authori-zation': `Bearer ${token}`, // Bearer Token 格式
      'Content-Type': 'application/json', // 根据需求设置
    },
  }
).then((res) => res.json())
const allNews = res.data.list

const pageTitle = '官方动态'
---

<Base head={{ title: pageTitle, description: '' }}>
  <div class="newList">
    {
      allNews.map((news) => (
        <a class="news" href={'./' + news.id}>
          <img
            src={news.image_input[0]}
            width="300"
            alt={news.image_input[0]}
          />
          <div>
            <p class="title">{news.title}</p>
            <p class="message">{news.synopsis}</p>
            <div class="attribute">
              <p class="time">{news.add_time}</p>
              <p class="view">{news.visit}</p>
            </div>
          </div>
        </a>
      ))
    }
  </div>
  <style>
    a {
      text-decoration: none;
    }

    .newList {
      margin: 0 10vw;
    }

    .news {
      display: flex;
      padding: 25px 30px;
      margin-top: 4px;
      background-color: rgb(30 41 59 / var(--tw-bg-opacity));
    }

    .news img {
      width: 250px;
      height: 140px;
      border-radius: 2px;
      margin-right: 20px;
      background-color: #d8d8d8;
      object-fit: cover;
    }

    .title {
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: #fff;
    }
    .message {
      margin: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      margin-top: 11px;
      font-size: 14px;
      line-height: 22px;
      color: #9b9b9b;
    }
    .attribute {
      display: flex;
      margin-top: 11px;
      font-size: 14px;
      line-height: 14px;
      color: #bbbbbb;
    }
    .time {
      margin-right: 40px;
    }
  </style>
</Base>
